@import "../valo/valo";

@mixin persephone {
	@include valo;

	.app-down {
    	color: red;
 	}
 	
 	.app-logs {
 		font-size: 10px;
 	}
 	
 	.health-card {
 		border: 3px solid black;
 		border-radius: 10px;
 		
 		.health-card-title {
 			width: 100%;
 			font-weight: bold;
 			text-align: center;
 		}
 	}
 	
 	.v-Notification .v-Notification-caption {
 		display: block;
 	}
 	
	.v-Notification .v-Notification-description {
		display: block;
		margin: 25px 0 0 0;
	}
}
  